.experiencia__bloco {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.experiencia__bloco--reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px;
    gap: 16px;
}