#themeToggle {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-font-primaria);
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.theme-toggle__icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, fill 0.3s ease;
}

#themeToggle:hover .theme-toggle__icon {
    transform: rotate(30deg);
}

[data-theme="dark"] #themeToggle .theme-toggle__icon {
    fill: var(--color-font-secundaria);
}

[data-theme="light"] #themeToggle .theme-toggle__icon {
    fill: var(--color-font-primaria);
}
