#themeToggle {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-font-primaria); /* Cor do ícone */
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.theme-toggle__icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, fill 0.3s ease;
}

/* Efeito de rotação no hover */
#themeToggle:hover .theme-toggle__icon {
    transform: rotate(30deg);
}

/* Tema escuro: Ajuste do ícone para cor branca */
[data-theme="dark"] #themeToggle .theme-toggle__icon {
    fill: #ffffff;
}

/* Tema claro: Ajuste do ícone para cor preta */
[data-theme="light"] #themeToggle .theme-toggle__icon {
    fill: #000000;
}
