:root {
    /* 🎨 Backgrounds */
    --background: #f2f2f2;
    --background-section: #e6e6e6;
    --background-botao: #1f1f1f;

    /* 🎯 Borders */
    --borderColor-botao: #1f1f1f;

    /* 📝 Typography */
    --color-font-primaria: #2e2e2e;
    --color-font-secundaria: #ffffff;
}
