/* Color Theme Swatches in Hex */
.Gray-Scale-1-hex { color: #D9D9D9; }
.Gray-Scale-2-hex { color: #B3B3B3; }
.Gray-Scale-3-hex { color: #8C8C8C; }
.Gray-Scale-4-hex { color: #4D4D4D; }
.Gray-Scale-5-hex { color: #bfbfbf; }