.formacao {
    background-color: var(--background-section);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 1rem;
    width: 100%;
    min-height: auto;
    box-sizing: border-box;
}

.formacao__titulo {
    color: var(--color-font-primaria);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center; /* Centraliza o título */
    width: 100%; /* Garante que ocupe toda a largura possível */
}

.formacao__conjunto {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}

.formacao__escolas,
.formacao__cursos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    min-width: 250px;
}

.formacao__bloco {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: none;
}

.formacao__bloco_titulo {
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--color-font-primaria);
}

.formacao__bloco_descricao {
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--color-font-primaria);
}

@media (min-width: 1024px) {
    .formacao__titulo {
        font-size: 2rem;
    }

    .formacao__bloco_titulo {
        font-size: 1.1rem;
    }

    .formacao__bloco_descricao {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .formacao__titulo {
        font-size: 1.7rem;
    }

    .formacao__conjunto {
        gap: 4rem;
    }

    .formacao__bloco {
        width: 30vw;
    }

    .formacao__bloco_titulo {
        font-size: 1rem;
    }
}
