.menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
}

.menu__titulo {
    color: var(--color-font-primaria);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}
.menu__titulo img{
    padding-right: .5rem;
}

.menu__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: var(--color-font-primaria);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
}
