.menu {
    display: none;
}

.material-symbols-outlined {
    color: var(--color-font-primaria);
    display: block;
    text-align: right;
    cursor: pointer;
}

.menu__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

.menu__item {
    list-style: none;
}

.menu__link {
    color: var(--color-font-primaria);
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu__link:hover {
    color: #000;
}

@media (min-width: 768px) {
    .menu {
        display: block;
    }

    .material-symbols-outlined {
        display: none;
    }

    .menu__lista {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
        width: auto;
    }

    .menu__link {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .menu__lista {
        justify-content: center;
        gap: 2rem;
        max-width: 800px;
        margin: 0 auto;
    }

    .menu__link {
        font-size: 1.2rem;
    }
}
