.experiencia {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.experiencia__titulo {
    color: var(--color-font-primaria);
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
}

.experiencia__projetos {
    display: flex;
    flex-direction: column;
    width: 95vw;
    gap: 4rem;
}

.experiencia__bloco {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 1rem;
}

.experiencia__bloco--reverse {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 1rem;
}

.experiencia__bloco_frame {
    display: flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.experiencia__bloco_imagem {
    width: 300px;
    height: 150px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.experiencia__bloco_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.experiencia__bloco_botao {
    display: flex;
    font-size: 0.7rem;
    gap: 1rem;
}

.experiencia__bloco_botao--transparente {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    gap: 0.7rem;
    border: 1px solid var(--borderColor-botao);
    color: var(--color-font-primaria);
    text-decoration: none;
    border-radius: 10px;
}

.experiencia__bloco_botao--solido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    gap: 0.7rem;
    color: var(--color-font-secundaria);
    background-color: var(--background-botao);
    text-decoration: none;
    border-radius: 10px;
}

.experiencia__bloco_titulo {
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    color: var(--color-font-primaria);
}

.experiencia__bloco_descricao {
    font-weight: 500;
    font-size: .8rem;
    color: var(--color-font-primaria);
}

@media (min-width: 768px) {    
    .experiencia__titulo {
        font-size: 1.9rem;
    }

    .experiencia__projetos {
        width: 70vw;
    }
    
    .experiencia__bloco {
        flex-direction: row;
        align-items: center;
    }
    
    .experiencia__bloco--reverse {
        flex-direction: row-reverse;
        align-items: center;
    }

    .experiencia__bloco_imagem {
        width: 450px;
        height: 230px;
    }
    
    .experiencia__bloco_botao {
        font-size: 1rem;
    }
    
    .experiencia__bloco_botao--transparente {
        padding: .9rem;
    }
    
    .experiencia__bloco_botao--solido {
        padding: .9rem;
    }
    
    .experiencia__bloco_titulo {
        font-size: 1.3rem;
    }
    
    .experiencia__bloco_descricao {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .experiencia__titulo {
        font-size: 2rem;
    }

    .experiencia__bloco_imagem {
        width: 660px;
        height: 340px;
    }
    
    .experiencia__bloco_botao--transparente {
        padding: 1rem;
    }
    
    .experiencia__bloco_botao--solido {
        padding: 1rem;
    }
    
    .experiencia__bloco_titulo {
        font-size: 1.5rem;
    }
    
    .experiencia__bloco_descricao {
        font-size: 1.2rem;
    }
}
