.rodape {
    background-color: var(--background-section);
    color: var(--color-font-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 1024px) {
    .rodape {
        font-size: 1.1rem;
        padding: 1.5rem 0;
    }
}

@media (min-width: 768px) {
    .rodape {
        font-size: 0.9rem;
        padding: 1rem 0;
    }
}
