.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.skill__titulo {
    color: var(--color-font-primaria);
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
}

.skill__subtitulo {
    color: var(--color-font-primaria);
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

.skill__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
}

.skill__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-font-primaria);
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 2rem;
    padding: 1rem;
}

.skill__imagem {
    display: flex;
    align-items: center;
    text-align: center;
    height: 2.1rem;
    width: 2rem;
}

@media (min-width: 768px) {
    .skill__titulo {
        font-size: 1.8rem;
    }

    .skill__subtitulo {
        font-size: 1.1rem;
    }

    .skill__item {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    .skill__titulo {
        font-size: 2rem;
    }

    .skill__subtitulo {
        font-size: 1.3rem;
    }

    .skill__item {
        font-size: 1rem;
    }
}
