.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.skill__titulo {
    color: var(--color-font-principal);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.skill__subtitulo {
    color: var(--color-font-principal);
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
}

.skill__lista {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.skill__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--color-font-primaria);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3rem;
    padding: 1rem;
}

.skill__imagem {
    display: flex;
    align-items: center;
    height: 2.1rem;
    text-align: center;
    width: 2rem;
}
