.formacao__bloco_imagem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 143px;
    background: #FFFFFF;
}